*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #110033;
}

.flex-container{
    display: flex;

    justify-content: center;
}

#buttons{
    justify-content: space-between;
}

p{
    text-align: center;

    color: #88bb00;

    font-size: 18px;
}

h2{
    text-align: center;

    color: #88bb00;
}

span{
    color: #c2185b;
}

#warning{
    color: #c2185b;
    display: none;
}